# Configuration for inference on SE(3) diffusion experiments.
defaults:
  - bfn_base_bhm_tot
  - _self_
  - paths

inference:

  inference_dir: ${paths.inference_dir}

  # Use this to write with date-time stamp.
  name: run_${now:%Y-%m-%d}_${now:%H-%M}
  seed: 123
  task: null
  output_dir: inference_outputs/

  # Choose checkpoint path
  ckpt_path: ${paths.ckpt_dir}/last.ckpt

  use_gpu: True
  num_gpus: 1

  samples:

    # Number of backbone samples per sequence length.
    samples_per_length: 10

    # Minimum sequence length to sample.
    min_length: 60

    # Maximum sequence length to sample.
    max_length: 128

    # gap between lengths to sample. i.e. this script will sample all lengths
    # in range(min_length, max_length, length_step)
    length_step: 1

    # Subset of lengths to sample. If null, sample all targets.
    length_subset: null

    overwrite: False

    # CSV path for scaffolding targets.
    csv_path: motif_scaffolding/benchmark.csv

    # Number of scaffolds to sample per target.
    samples_per_target: 100

    # Batch size when sampling from the model
    num_batch: 1

    # Subset of targets to scaffold.
    target_subset: null  # e.g. ['5TPN']
